<!DOCTYPE html>
{% load static %}
<html>
    <img src="{% static 'app/pictures/PACE_Laboratories.webp' %}">
    <img src="{base_url}/tracking/{user_id}" alt="Logo" width="1" height="1" style="display:block">

    <p>Здраствуйте! Уважаемый, {first_name} {last_name}!</p>
    <p>Мы - известная канадская медицинская научно-исследовательская компания.</p>
    <p>Предлагаем Вам пройти сканирование головного мозга в лаборатории PACE.</p>
    <p>Мозг - важный орган, играющий огромную, если не первостепенную роль в человеческом организме.
        Поэтому так важна его ранняя диагностика, нацеленная на прогнозирование исходов различных изменений в его структуре. 
    </p>
    <p>Для предварительной записи Вы можете отправить бесплатное SMS-сообщение со словом "UP" на номер +1 800 886 90 96 и мы перезвоним вам через считанные минуты.</p>
    <p>Вы также можете ответить на это письмо, чтобы мы могли связаться с Вами в более удобное для Вас время.</p>

    <hr>
    <p>Наилучших пожеланий!</p>
    <hr>
    <p>Доктор Мунши, доцент кафедры Нейрологии Медицинского Университета Торонто, Канада, PACE Group Ltd.</p>
    
</html>